@import url("https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Noto+Serif+SC:wght@400;600;900&display=swap");

body {
  font-family:
    "Noto Serif SC",
    "Source Han Serif SC",
    "Songti SC",
    "STSong",
    "STZhongsong",
    "SimSun",
    "NSimSun",
    "FangSong",
    "KaiTi",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Microsoft JhengHei",
    serif;
}

.swiper-container {
  height: 500px;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 28px;
}
