{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div style="max-width:690px">
            <blockquote style="border-left:4px solid #428433;padding:4px;margin:10px 0;text-align:left"><p>{{ .Site.Params.Portrait.hello }}</p></blockquote>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="" alt="{{ .Site.Params.Portrait.Alt }}" style="border-radius: 10px;max-width: 100%;padding:8px;height: auto;" />
            {{ end }}

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div style="margin-top: 20px;">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
